@page "/claimList"
@using ProgressiveApp.Model
@inherits ClaimListBase
@using Telerik.DataSource.Extensions

<div class="well k-content">
    <h2 class="ra-well-title">
        Claim List
    </h2>
    <hr />
    <div class="well k-content">

        <div id="claimList">
            <div class=" row form-widgets">
                <div class="col-md-12 col-lg-12">
                    <label class="control-label col-lg-3 col-md-3" for="regType">Claim Status</label>

                    <TelerikComboBox Data="@ClaimStatusList" TextField="DisplayName"
                                     OnChange="@MyOnChangeHandler" Width="420px" Class="customBlazorDropdown"
                                     ValueField="ClaimStatusId" @bind-Value="SelectedStatusId">
                    </TelerikComboBox>

                </div>
            </div>
            <div style="padding:20px;">
                <TelerikContextMenu @ref="@ContextMenu" Data="@MenuItems" OnClick="@((MenuItem item) => OnItemClick(item))"></TelerikContextMenu>
       
                <TelerikGrid Data="ClaimGrid" SelectionMode="GridSelectionMode.Single"
                             Pageable="true" PageSize="20" Sortable="true"
                             Height="500px"
                             Width="1400px"
                             OnRowClick="@OnContextMenu"
                             OnRowContextMenu="@OnContextMenu"
                             FilterMode="GridFilterMode.FilterMenu"
                             @ref="GridRef"
                             OnStateChanged="@((GridStateEventArgs<Claim> args) => OnStateChangedHandler(args))"
                             Class="customGrid">

                    <GridColumns>
                        <GridColumn Field="@(nameof(Claim.Id) )" Locked="true" Title="Action" Width="120px" >
                            <Template>
                                <a  Icon="rows" id="@(nameof(Claim.Id))"  @onmouseup="HandleMouseUp" >
                                    <TelerikIcon Icon="rows" />
                                </a>                     
                            </Template>
                        </GridColumn>
                        <GridColumn Field="@(nameof(Claim.Id) )"  Locked="true" Title="ClaimId" Width="150px" OnCellRender="@OnCellRenderHandler" />
                        <GridColumn Field="@(nameof(Claim.Company))" Title="Company" Sortable="false" Filterable="false" Width="150px" />
                        <GridColumn Field="@(nameof(Claim.TaxForm))" Title="TaxForm" Sortable="false" Filterable="false" Width="100px" />
                        <GridColumn Field="@(nameof(Claim.FiledWith) )" Title="Filed With" Filterable="false" Width="100px" Sortable="false" />
                        <GridColumn Field="@(nameof(Claim.BegDate))" Title="Beg Date" Sortable="true" DisplayFormat="{0:MM/dd/yy}" Width="250px" Filterable="false" />
                        <GridColumn Field="@(nameof(Claim.EndDate))" Title="End Date" DisplayFormat="{0:MM/dd/yy}" Width="150px" Filterable="false" Sortable="false" />
                        <GridColumn Field="@(nameof(Claim.DateFiled))" Title="Date Filed" DisplayFormat="{0:MM/dd/yy}" Width="250px" Filterable="false" Sortable="false" />
                        <GridColumn Field="@(nameof(Claim.AmountFiled))" Title="Amount Filed" DisplayFormat="{0:C}" Width="250px" Sortable="false" Filterable="false" />
                    </GridColumns>
                </TelerikGrid>

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<style>
    .k-grid-header .k-grid-header-sticky, .k-grid-header .k-grid-header-sticky.k-sorted {
        border-color: rgba(22,24,27,0.125);
        color: #fff !important;
        background-color: #004FA3 !important
    }

    .customBlazorDropdown {
        padding-right: 0px;
        background-color: transparent;
    }
    .customBlazorDropdown .k-header {
            background-color: transparent;
     }

    .k-grid td {
        border-style: none;
    }
    .k-grid-content-sticky td{
        border-style:solid !important;
        border:1px;
    }

    .highlightCellBackGroud {
        background-color: lightyellow;
    }
    .border {
        border: 0px none !important;        
        border-right: 1px solid !important;
        border-color: #004FA3 !important;  
    }
   

    .k-necs1 .well {
        background-color: #dddddd;
        border-color: #c3c3c3;
        border-radius: 6px;
        padding: 10px;
    }

    .customGrid tr.k-master-row.k-alt, tr.k-master-row.k-alt td.k-grid-content-sticky {
        background-color: #e6e6e6;
    }

    .customGrid tr.k-master-row, tr.k-master-row td.k-grid-content-sticky {
        background-color: #eee;
    }

    .customGrid tr.k-master-row:hover, .customGrid tr.k-master-row:hover td.k-grid-content-sticky {
        background-color: #fdf005;
    }
</style>
