@page "/editemployee/{id}"
@using ProgressiveApp.Model
@inherits EditEmployeeBase
<style>
    .customBlazorDropdown {
        padding-right: 0px;
        background-color: transparent;
    }

    ul.k-tabstrip-items.k-reset {
        border-color: #004fa3;
        border-top: 1px solid #004fa3;
        border-left: 1px solid #004fa3;
    }
</style>
@if (Employee is not null)
{
    <div class="modal-body">
        <div name="ActualContent" class="content-area padding-00">
            <div class="well k-content">
                <div class="TaxContent">
                    <EditForm Model="@Employee">
                        <DataAnnotationsValidator></DataAnnotationsValidator>
                        <h3>Edit Employee</h3>
                        <hr />

                        <div class="form-widgets">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <!-- Territory -->
                                    <div class="form-group margin-top">
                                        <label class="control-label col-lg-4 col-md-4 padding0">First Name</label>

                                        <TelerikTextBox @bind-Value="Employee.FirstName" Class="col-lg-8 col-md-8 padding0" Width="20em"></TelerikTextBox>
                                        <ValidationMessage For="@(() => Employee.FirstName)" />
                                    </div>

                                    <div class="form-group margin-top">
                                        <label class="control-label col-lg-4 col-md-4 padding0" for="LocationName">Last Name</label>
                                        <TelerikTextBox @bind-Value="Employee.LastName" Class="col-lg-8 col-md-8 padding0" Width="20em"></TelerikTextBox>
                                    </div>

                                    <div class="form-group checkbox checkbox-primary margin-top padding0" style="padding-left:16px;">
                                        <input id="LocationIsActive" v-model="LocationIsActive" tabindex="2" type="checkbox" checked />
                                        <label class="control-label m-l-xs" for="LocationIsActive">Is Active</label>
                                    </div>

                                    <div class="form-group margin-top">
                                        <label class="control-label col-lg-4 col-md-4 padding0" for="DateClosed">Email</label>
                                        <TelerikTextBox @bind-Value="Employee.Email" Class="col-lg-8 col-md-8 padding0" Width="20em"></TelerikTextBox>
                                        <ValidationMessage For="@(() => Employee.Email)" />
                                    </div>
                                    <br />
                                </div>
                                <div class="col-lg-6 col-md-6">

                                    <div class="form-group margin-top">
                                        <label class="control-label col-lg-4 col-md-4 padding0">Date of Birth</label>

                                        <TelerikDatePicker @bind-Value="Employee.DateOfBrith" Format="MM/dd/yyyy" Width="20em">
                                        </TelerikDatePicker>

                                    </div>
                                    <br />

                                    <div class="form-group margin-top">
                                        <label class="control-label col-lg-4 col-md-4 padding0" for="Gender">Gender</label>

                                        <TelerikDropDownList Data="@GenderOptions" Class="customBlazorDropdown" Width="20em" TextField="GenderText" ValueField="GenderId" @bind-Value="Employee.Gender">
                                        </TelerikDropDownList>
                                    </div>
                                    <br />

                                    <div class="form-group margin-top">
                                        <label class="control-label col-lg-4 col-md-4 padding0">Designation</label>

                                        <TelerikAutoComplete Data="@Suggestions" @bind-Value="@SelectedValue" Width="20em"
                                                             Placeholder="Enter Designation" ClearButton="true" />

                                    </div>
                                    <!--<div class="form-group margin-top">
                                        <label class="control-label col-lg-4 col-md-4 padding0">Context</label>-->
                                    @*<TelerikContextMenu Data="@MenuItems" @ref="@TheContextMenu">
                                        </TelerikContextMenu>*@

                                    <!--</div>-->

                                    <div class="ActionbtnsCls" style="float: right;">
                                        <div class="ActionbtnsCls">
                                            <button type="button" class="btn btn-secondary" style="float: left; margin: 5px;" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary" style="float: left; margin: 5px;">Save changes</button>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="form-widgets">
                            <div class="form-group margin-top">
                                <div class="col-lg-12 col-md-12" style="padding-right:0px;">
                                    <TelerikTabStrip TabPosition="Telerik.Blazor.TabPosition.Top">

                                        <TabStripTab Title="Department">

                                            <TelerikGrid Data="@DepartmentList" SelectionMode="GridSelectionMode.Single"
                                                         Pageable="true" PageSize="20"
                                                         Height="300px"
                                                         FilterMode="Telerik.Blazor.GridFilterMode.FilterMenu">
                                                <GridColumns>
                                                    <GridColumn Field="@(nameof(Department.DepartmentId) )" Title="DepartmentId" />
                                                    <GridColumn Field="@(nameof(Department.DepartmentName))" Title="DepartmentName" Sortable="true" />
                                                    <GridColumn Field="@(nameof(Department.Head))" Title="Head" Sortable="true" />
                                                </GridColumns>
                                            </TelerikGrid>

                                        </TabStripTab>

                                    </TelerikTabStrip>
                                </div>
                            </div>
                        </div>
                    </EditForm>

                </div>

            </div>
        </div>
    </div>
}
else
{
    <div class="spinner"></div>
}
@code {
    // the context menu is a generic component and its type depends on the model it binds to
    TelerikContextMenu<ContextMenuItem> TheContextMenu { get; set; }

    List<ContextMenuItem> MenuItems { get; set; }

    protected override void OnInitialized()
    {

        MenuItems = new List<ContextMenuItem>()
{
            new ContextMenuItem
            {
                Text = "Item 1"
            },
            new ContextMenuItem
            {
                Text = "Item 2"
            }
        };

        base.OnInitialized();
    }

    public class ContextMenuItem
    {
        public string Text { get; set; }
        public List<ContextMenuItem> Items { get; set; }
    }
}